<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ game_name }}</title>

    <link href="{{ url_for('static', path=css_path) }}" rel="stylesheet">
    <script src="{{ url_for('static', path=js_path) }}"></script>

    <script src="{{ url_for('static', path='/multiplayer.js') }}"></script>
</head>
<body>
    <div id="game">
        <div id="players">
            <div class="player">
                <div class="player-photo">

                </div>
                <div class="player-deck">
                    <img class="card" src="/static/uno/cards/stroke-red-0.svg" alt="card" />
                    <img class="card" src="/static/uno/cards/stroke-red-0.svg" alt="card" />
                    <img class="card" src="/static/uno/cards/stroke-red-0.svg" alt="card" />
                </div>
            </div>
        </div>
        <div id="main-deck">
            <img class="main card" src="/static/uno/cards/stroke-red-0.svg"  alt="card"/>
        </div>
        <div id="my-deck">
            <img class="my card" src="/static/uno/cards/stroke-red-0.svg" alt="card" />
            <img class="my card" src="/static/uno/cards/stroke-red-0.svg" alt="card" />
            <img class="my card" src="/static/uno/cards/stroke-red-0.svg" alt="card" />
        </div>
    </div>
</body>
</html>
