<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ game_name }}</title>

    <link href="{{ url_for('static', path=css_path) }}" rel="stylesheet">
    <script src="{{ url_for('static', path=js_path) }}"></script>

    <script src="{{ url_for('static', path='/multiplayer.js') }}"></script>
</head>
<body>
    <div id="input_div">
        <label for="input">Text:</label>
        <input type="text" required pattern=".{1,}" id="input" name="text">
        <button id="send">send</button>

        <p id="online">Online users: []</p>
    </div>

    <div id="messages">
        <!-- New messages will appear here -->
    </div>
</body>
</html>
